html{
    scroll-behavior: smooth;
}

.d-grid a{
    text-decoration: none;
    color: black;
}


.navbar-brand  img{
    width: 100px;
    height: 24px;
}



.navbar-nav{
    display: flex;
    align-items: center;
}
.navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;
}

.circle{
    font-size: 28px;
}

.dropdown-menu{
    width: 500px;
    

    
}



.dropdown-menu ul li{
    list-style: none;
    
}
.dropdown-menu a{
   text-decoration: none;
   color: black;
}

.carousel{
    position: relative;
}

.carousel-indicators{
    margin-bottom: -3rem;
    
    
}

.carousel-indicators .active{
    background-color: black !important;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;

    
    
 }

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-left: 15%;
}




.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
   
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
 



.ms-info .heading{
    font-size: 18px;
    font-weight: bold;
    
}

.ms-info ul li{
    list-style-type: none;
    margin: 12px 0;
    font-size: 14px;
}

.ms-info ul li a{
    text-decoration: none;
    color: black;
}


.card .card-body a{
    text-decoration: none;
}

.products .card-title {
    color: black;
}

.card-text{
    color: black;
}

.btn{
    color: dodgerblue;
    font-size: 18px;
}

.business-team .card-title{
    color: black;
}

.carousel-inner{
    position: relative;
}




.carousel-caption{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translatey(-50%);
}

.carousel-caption h5{
   padding: 0 6px;
   font-size: 28px;
   font-family: sans-serif;
   margin-left: 24px;
   color: black;
}

.carousel-caption p{
   color: black;
   margin-bottom: 20px;
   
}

.carousel-caption .next1{
    color: black;
}

.carousel-caption a{
    text-decoration: none;
    color: #fff;
    padding: 8px 22px;
    margin-top: 12px;
}

.carousel-content h5{
    color: #fff;
}

.carousel-content p{
    color: #fff;
}

.carousel-content a{
    font-size: 18px;
    display: block;
    max-width: fit-content;
    
}

