html{
    scroll-behavior: smooth;
}

.d-grid a{
    text-decoration: none;
    color: black;
}


.navbar-brand  img{
    width: 100px;
    height: 24px;
    float: left;
    outline-offset: -2px;
    

}

.collapse .navbar-collapse .nav-item{
    align-items: center;
}

 .navbar-nav {
    display: flex;
    align-items: center;
}
.navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;
}

.circle{
    font-size: 28px;
}

.dropdown-menu ul{
    list-style: none;
    padding: 34px;
}

.dropdown-menu li a{
    text-decoration: none;
    color: #000;
    
}

.dropdown-menu li:first-child a{
    
    font-size: 1.2em;
}

.dropdown-menu.show{
    display: flex;
}

.carousel .wrapper{
    position: relative;

}


.carousel-caption{
    text-align: start;
    width: fit-content;
    height: fit-content;
    
    top: 20%;
    left: 10%;
    transform: translate(-50% -50%);
    color: #000;
}



 .carousel-indicators{
    margin-bottom: -2rem;

    
    
    
}

.carousel-indicators .active{
    background-color: black !important;
    
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
   
    
    
 }

.carousel-indicators {
   
        position: absolute;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin-right: 15%;
        margin-left: 15%;
        padding: 0px;
}
        




.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
   
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: opacity .6s ease;
}
 
.carousel-control-next, .carousel-control-prev {
    top: unset;
    bottom: unset;
    margin: 0 auto;

    
    
   
    

}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
    
}


.ms-info .heading{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    
}

.ms-info ul li{
    list-style-type: none;
    margin: 12px 0;
    font-size: 14px;
}

.ms-info ul li a{
    text-decoration: none;
    color: darkgray;
}

.ms-info a:hover{
    text-decoration: underline;
}

/* .card{
    overflow: hidden;
}

.card img{
    transition: all 2s ease-in-out;
}
.card:hover {
    transform: scale(.7);
} */


.card .card-body a{
    text-decoration: none;
}

.products .card-title {
    color: black;
}

.card-text{
    color: black;
}

.card-body a{
    color: dodgerblue;
    font-size: 18px;
}



.business-team .card-title{
    color: black;
}

.card-body .button4:hover{
    text-decoration: underline;
    

}

.carousel-inner{
    position: relative;
}

.carousel-caption a{
    text-decoration: none;
    color: #fff;
}


.carousel-caption{
    text-align: start;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-50% -50%);
    
}
.carousel-caption h5{
  font-size: 2rem;
  color: #000;
  
}

.carousel-caption p{
    padding: 12px 0;
    color: #000;
   
}



.carousel-caption .button3 {
    font-weight: 600;
    
    width: fit-content;
    
    color: #fff;
    
    
}

.carousel-caption a{
    padding: 16px 14px;
}




.carousel-caption .next1{
    color: black;
    text-decoration: none;
    
}





.carousel-content h5{
    color: #fff;
}

.carousel-content p{
    color: #fff;
}

.carousel-content a{
    font-size: 18px;
    display: block;
    max-width: fit-content;
    
}

